<section class="container card block grid grid--1x2">
    <img src="images/illustration-flowing-conversation.svg" alt="" class="block__picture" />
    <header class="block__header">
        <h2 class="block__heading">Lorem ipsum dolor sit.</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores accusantium reiciendis corporis ut, tenetur voluptate. Assumenda
            molestiae praesentium, placeat officia vero dignissimos, reprehenderit at pariatur, necessitatibus suscipit fugiat labore dolorum!
        </p>
    </header>
</section>
