<section class="container block">
    <article class="card feature">
        <picture class="feature__image">
            <img src="images/illustration-flowing-conversation.svg" alt="" />
        </picture>
        <div class="feature__content">
            <h2 class="feature__heading">Grow together</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, expedita inventore? Pariatur ipsa nam maxime ducimus perspiciatis
                aliquam, nobis nihil?
            </p>
        </div>
    </article>
    <article class="card feature">
        <picture class="feature__image">
            <img src="images/illustration-flowing-conversation.svg" alt="" />
        </picture>
        <div class="feature__content">
            <h2 class="feature__heading">Grow together</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, expedita inventore? Pariatur ipsa nam maxime ducimus perspiciatis
                aliquam, nobis nihil?
            </p>
        </div>
    </article>
    <article class="card feature">
        <picture class="feature__image">
            <img src="images/illustration-flowing-conversation.svg" alt="" />
        </picture>
        <div class="feature__content">
            <h2 class="feature__heading">Grow together</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, expedita inventore? Pariatur ipsa nam maxime ducimus perspiciatis
                aliquam, nobis nihil?
            </p>
        </div>
    </article>
</section>
